/*
	Theme Name: Mesmerize Theme
	Theme URI: http://localhost:8084/wp/
	Description: Mesmerize child theme 
	Author: mcast
	Author: rodiana
	Template: mesmerize
	Version: 1.0.0
*/

.wp-block-group__inner-container{    
	 padding-bottom: 30px;   
} 

.wplc_block{     
	color: white;     
	background-color:#191970 !important;   
	background: #555c6e;     
	border-radius: 50px !important; 

} 

.wplc_block_logo{  
   background-color: #191970 !important; 

} 

.wp-block-media-text__content p{  
   line-height: 1.8; 

}

#wplc-chat-box{   
		
 text-align: center;    
 background-color:#191970;    
 border-radius: 50px !important; 

}

.subscribe_button{
	text-align:center;
	color: white;	
	font-size: 18px;	
	background-color:#191970 !important;  
    border-radius: 100px;	
	background-color:#191970; 
	width: 150px;
	height: 150px;
}

.wp-block-media-text__content{
	color: #191970;
	text-decoration:underline;
}

.hero-title{
	color:#051B42 !important;
	font-family: "Times New Roman", Times, serif;
	text-decoration:underline;
}

.text-logo{
	color:#1527E7 !important;
}

.tribe-events-calendar-list__event-datetime-wrapper{
	color:#334aff !important;
	font-size: 20px !important;
	font-weight: bold !important;
}

h2{
	color:#1527E7 !important;
	font-family: "Lucida Console", Courier, monospace;
	font-weight: bold;
	text-decoration:underline;
	text-shadow: 1px 1px;
}
.single_add_to_cart_button{
	background-color: #2ebcfc !important;
	border-color: #2ebcfc !important;
	padding: 25px 50px 75px 100px !important;
}
th{
	background-color: #2ebcfc !important;	
	text-align:center;
	color: blue !important;
	text-decoration: underline;
	border: 5px black;
	padding: 8px;
}
td{ 
	color:black;
	border:2px solid black
}

tr:hover {background-color:yellow;}

ul{
	 list-style-type: square;
	 font-size: 15px;
	 color:black;
	
 
}








